.clouds-wrapper {
	transform-style: preserve-3d;
	transform: rotateX(var(--move-y)) rotateY(var(--move-x));
	transition: 1.5s cubic-bezier(0.05, 0.5, 0, 1);
	img {
		position: absolute;
		perspective: 1000px;
		&.cloud-1 {
			width: 120px;
			top: 50px;
			left: 50px;
			transform: translateZ(150px);
		}
		&.cloud-2 {
			width: 250px;
			top: 250px;
			left: 10%;
			transform: translateZ(400px);
		}
		&.cloud-3 {
			width: 250px;
			top: 150px;
			left: 55%;
			transform: translateZ(200px);
		}
		&.cloud-4 {
			width: 150px;
			top: 200px;
			left: 80%;
			transform: translateZ(120px);
		}
		&.cloud-5 {
			width: 120px;
			top: 80px;
			left: 30%;
			transform: translateZ(100px);
		}
		&.cloud-6 {
			width: 100px;
			top: 400px;
			left: 30%;
			transform: translateZ(70px);
		}
	}
}
