* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(0deg, rgb(246, 251, 253) 20%, rgb(1, 173, 250) 100%);
  height: 100vh;
  overflow: hidden;
}

.sun {
  position: absolute;
  top: 200px;
  left: -130px;
  width: 100px;
  height: 100px;
  background-color: yellow;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
  animation: move 25s 3s linear infinite;
}
.sun img {
  position: absolute;
  max-width: 60px;
  max-height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}
.sun::before {
  width: 150px;
  height: 150px;
  content: "";
  position: absolute;
  top: -25px;
  left: -25px;
  background: url("../images/lights.png") no-repeat;
  background-size: 150px;
  animation: lights 10s linear infinite;
}
.sun:hover {
  transform: scale(1.1);
}
.sun:hover img.face-1 {
  opacity: 0;
}
.sun:hover img.face-4 {
  opacity: 1;
  width: 60px;
}
.sun:hover::before {
  animation: lights 5s linear infinite;
}

@keyframes lights {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes move {
  from {
    top: 300px;
    left: -130px;
  }
  20% {
    top: 50px;
  }
  80% {
    top: 50px;
  }
  to {
    top: 300px;
    left: calc(100% + 10px);
  }
}
.field-wrapper {
  position: absolute;
  bottom: -50px;
  transform-style: preserve-3d;
  transform: rotateX(var(--move-y)) rotateY(var(--move-x));
  perspective: 500em;
  transition: 1.5s cubic-bezier(0.05, 0.5, 0, 1);
  animation: zoom 5s cubic-bezier(1, 0, 0.5, 0.5);
}
.field-wrapper img {
  display: block;
}
.field-wrapper img.bg {
  width: 100%;
  transform: translateZ(70px) scale(1.1);
}
.field-wrapper img.tree-1 {
  width: 300px;
  position: absolute;
  bottom: 20px;
  right: 0;
  transform: translateZ(350px);
}
.field-wrapper img.tree-2 {
  width: 400px;
  position: absolute;
  bottom: 100px;
  right: 150px;
  transform: translateZ(150px);
}
.field-wrapper img.tree-3 {
  width: 500px;
  position: absolute;
  bottom: 50px;
  left: 10%;
  transform: translateZ(150px);
}
.field-wrapper img.river {
  width: 300px;
  position: absolute;
  bottom: 30px;
  left: 28%;
  transform: translateZ(100px);
}
.field-wrapper img.animal-1 {
  width: 130px;
  position: absolute;
  bottom: 60px;
  left: 23%;
  transform: translateZ(200px);
}
.field-wrapper img.animal-2 {
  width: 150px;
  position: absolute;
  bottom: 70px;
  right: 20%;
  transform: translateZ(250px);
}
.field-wrapper img.animal-3 {
  width: 130px;
  position: absolute;
  bottom: 70px;
  right: 40%;
  transform: translateZ(120px);
}
.field-wrapper img.animal-4 {
  width: 100px;
  position: absolute;
  bottom: 120px;
  left: 40%;
  transform: translateZ(80px);
}

@keyframes zoom {
  from {
    perspective: 200px;
  }
  to {
    perspective: 500em;
  }
}
.clouds-wrapper {
  transform-style: preserve-3d;
  transform: rotateX(var(--move-y)) rotateY(var(--move-x));
  transition: 5s cubic-bezier(0.05, 0.5, 0, 1);
}
.clouds-wrapper img {
  position: absolute;
}
.clouds-wrapper img.cloud-1 {
  width: 120px;
  top: 50px;
  left: 50px;
  transform: translateZ(150px);
}
.clouds-wrapper img.cloud-2 {
  width: 230px;
  top: 250px;
  left: 10%;
  transform: translateZ(400px);
}
.clouds-wrapper img.cloud-3 {
  width: 250px;
  top: 150px;
  left: 55%;
  transform: translateZ(300px);
}
.clouds-wrapper img.cloud-4 {
  width: 150px;
  top: 200px;
  left: 80%;
  transform: translateZ(150px);
}
.clouds-wrapper img.cloud-5 {
  width: 120px;
  top: 80px;
  left: 30%;
  transform: translateZ(120px);
}
.clouds-wrapper img.cloud-6 {
  width: 100px;
  top: 350px;
  left: 35%;
  transform: translateZ(100px);
}

#rain {
  position: absolute;
  width: 100%;
  height: 100%;
}
#rain.active {
  background: url("../images/rain.gif");
  z-index: 5;
}

.destroy-wrapper {
  position: relative;
  z-index: 10;
}
.destroy-wrapper button#destroy {
  position: fixed;
  top: 10px;
  right: 10px;
  border: none;
  background-color: green;
  padding: 10px 20px;
  border-radius: 14px;
  cursor: pointer;
  outline: none;
  color: yellow;
  font-size: 16px;
  font-weight: 700;
  border: 3px solid rgb(3, 91, 3);
  box-shadow: 0 0 15px -5px green;
  transition: 0.3s;
}
.destroy-wrapper button#destroy:hover {
  transform: scale(1.05) skew(5deg, 1deg);
}
.destroy-wrapper .warning {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 40px -10px #000;
  z-index: 2;
  display: none;
}
.destroy-wrapper .warning img {
  display: block;
  width: 300px;
  border-radius: 8px;
}
.destroy-wrapper .warning button#close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
.destroy-wrapper .warning.active {
  display: block;
}
.destroy-wrapper .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}
.destroy-wrapper .overlay.active {
  display: block;
}

.sounds-of-nature {
  position: relative;
  z-index: 10;
}
.sounds-of-nature audio {
  display: none;
}
.sounds-of-nature button {
  position: fixed;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  border: 3px solid rgb(3, 91, 3);
  box-shadow: 0 0 15px -5px green;
  transition: 0.3s;
}
.sounds-of-nature button#control {
  top: 10px;
  left: 10px;
  background: green url("../images/play.png") no-repeat 50% 50%;
  background-size: 10px;
}
.sounds-of-nature button#control.active {
  background: green url("../images/pause.png") no-repeat 50% 50%;
  background-size: 7px;
}
.sounds-of-nature button#control:hover {
  transform: scale(1.05);
}
.sounds-of-nature button#volume-btn {
  top: 10px;
  left: 60px;
  background: green url("../images/volume.png") no-repeat 50% 50%;
  background-size: 15px;
  z-index: 1;
}
.sounds-of-nature .volume-area {
  position: fixed;
}
.sounds-of-nature .volume-area .range-wrapper {
  position: absolute;
  top: 10px;
  left: 60px;
  height: 40px;
  background: green;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.sounds-of-nature .volume-area .range-wrapper input {
  display: none;
  overflow: hidden;
  width: 80px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: yellow;
  border-radius: 6px;
}
.sounds-of-nature .volume-area .range-wrapper input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
          appearance: none;
  height: 15px;
}
.sounds-of-nature .volume-area .range-wrapper input::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
          appearance: none;
  height: 10px;
  cursor: ew-resize;
  background: rgb(3, 91, 3);
  box-shadow: -80px 0 0 80px rgb(3, 91, 3);
}
.sounds-of-nature .volume-area:hover .range-wrapper {
  border: 3px solid rgb(3, 91, 3);
  padding-left: 50px;
  padding-right: 20px;
}
.sounds-of-nature .volume-area:hover .range-wrapper input {
  display: block;
}/*# sourceMappingURL=app.css.map */